{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        background-color: #42BCFF;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 56px); /* Subtract the height of the navbar */
    }
    .login-container {
        background-color: white;
        color: #42BCFF;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .login-container h2 {
        margin-bottom: 20px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-control {
        border: 1px solid #42BCFF;
        border-radius: 5px;
    }
    .btn-primary {
        background-color: #42BCFF;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
    }
    .btn-primary:hover {
        background-color: #359FD9;
    }
</style>
{% endblock %}
