{% extends 'base.html' %}

{% block title %}Register Option{% endblock %}

{% block content %}
<div class="container">
    <div class="option-container">
        <h2>Choose Your Option</h2>
        <a href="/register_pengguna/" class="back-link">Register Pengguna</a><br>
        <a href="/register_label/" class="back-link">Register Label</a>
    </div>
</div>
{% endblock %}

{% block css %}

<style>
    body, html {
        height: 100%;
        margin: 0;
        background-color: #42BCFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 56px;
    }
    .option-container {
        background-color: white;
        color: #42BCFF;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .option-container h2 {
        margin-bottom: 20px;
    }

    .back-link {
        display: block;
        text-align: center;
        color: white;
        background-color: #42BCFF;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        text-decoration: none;
        width: fit-content;
        margin: 30px auto 0;
    }
    .back-link:hover {
        background-color: #359FD9;
    }

</style>
{% endblock %}