
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<style>
    
</style>

<body>
    <!-- navbar starts -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Marmut - 9</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- add/delete as needed -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Kelola Playlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Langganan Paket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kelola Album & Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cek Royalti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lihat Chart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Play Podcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kelola Podcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- navbar ends -->

    <div class="container">
        <div class="py-4">
            <div class="text-center">
                <h2>Create Lagu</h2>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form class="px-3">
                            <div class="form-group pb-2">
                                <label for="album">Album</label>
                                <input type="text" class="form-control" id="album" value="User-centric scalable concept"
                                    disabled>
                            </div>
                            <div class="form-group pb-2">
                                <label for="judul">Judul</label>
                                <input type="text" class="form-control" id="judul" placeholder="Masukkan judul">
                            </div>
                            <div class="form-group pb-2">
                                <label for="artist">Artist</label>
                                <input type="text" class="form-control" id="artist" value="Brett Bowman" disabled>
                            </div>
                            <div class="pb-1">
                                <label>Songwriter</label>
                            </div>
                            <div class="row justify-content-start pb-2">
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter1">
                                        <label class="form-check-label" for="songwriter1">
                                            Ashley Richardson
                                    </div>
                                    <div class="form-check">
                                        </label>
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter2">
                                        <label class="form-check-label" for="songwriter2">
                                            Douglas Bell DDS
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter3">
                                        <label class="form-check-label" for="songwriter3">
                                            Kara Moore
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter4">
                                        <label class="form-check-label" for="songwriter4">
                                            Stephanie Mendoza
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter4">
                                        <label class="form-check-label" for="songwriter5">
                                            Blake Wright
                                        </label>

                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter6">
                                        <label class="form-check-label" for="songwriter6">
                                            Mrs. Amber Wilson
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter7">
                                        <label class="form-check-label" for="songwriter7">
                                            Donna Howard
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter8">
                                        <label class="form-check-label" for="songwriter8">
                                            Heather Foster
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter9">
                                        <label class="form-check-label" for="songwriter9">
                                            Jamie Webb
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="songwriter10">
                                        <label class="form-check-label" for="songwriter10">
                                            Mary Tyler
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="pb-1">
                                <label>Genre</label>
                            </div>
                            <div class="row justify-content-start pb-2">
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre1">
                                        <label class="form-check-label" for="genre1">
                                            Pop
                                    </div>
                                    <div class="form-check">
                                        </label>
                                        <input class="form-check-input" type="checkbox" value="" id="genre2">
                                        <label class="form-check-label" for="genre2">
                                            Rock
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre3">
                                        <label class="form-check-label" for="genre3">
                                            Hip Hop
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre4">
                                        <label class="form-check-label" for="genre4">
                                            Electronic
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre5">
                                        <label class="form-check-label" for="genre5">
                                            R&B
                                        </label>

                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre6">
                                        <label class="form-check-label" for="genre6">
                                            Country
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre7">
                                        <label class="form-check-label" for="genre7">
                                            Jazz
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre8">
                                        <label class="form-check-label" for="genre8">
                                            Classical
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre9">
                                        <label class="form-check-label" for="genre9">
                                            Reggae
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="genre10">
                                        <label class="form-check-label" for="genre10">
                                            Indie
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col 8 col-md-5">
                                <div class="form-group pb-2">
                                    <label for="durasi">Durasi</label>
                                    <input type="text" class="form-control" id="durasi" placeholder="Masukkan durasi">
                                </div>
                            </div>
                            <div class="text-center py-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>