{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Edit Playlist</title>
{% endblock meta %}

{% block content %}
<div class="bg-gradient-to-bl from-red-600 to-yellow-600 min-h-screen flex items-center justify-center py-20">
    <div class="w-full max-w-xl bg-gray-900/80 rounded-3xl shadow-xl p-10">
        <h1 class="text-5xl text-blue-200 font-bold text-center mb-10">Edit Playlist</h1>
        <form class="space-y-8" method="post" action="{% url 'user_playlist:ubah_playlist' playlist.id %}">
            {% csrf_token %}
            <div>
                <label for="judul" class="block text-blue-100 text-lg mb-4">Judul Playlist</label>
                <input type="text" id="judul" name="judul" class="w-full p-4 rounded-lg text-black" placeholder="Masukkan judul playlist" value="{{ playlist.judul }}" required>
            </div>
            <div>
                <label for="deskripsi" class="block text-blue-100 text-lg mb-4">Deskripsi</label>
                <textarea id="deskripsi" name="deskripsi" class="w-full p-4 rounded-lg text-black" rows="4" placeholder="Tulis deskripsi singkat playlist" required>{{ playlist.deskripsi }}</textarea>
            </div>
            <div class="flex justify-center mt-12">
                <button type="submit" class="w-1/2 py-4 bg-blue-200 text-gray-900 font-bold rounded-xl hover:bg-blue-300 transition duration-200">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
