{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Lagu</title>
{% endblock meta %}

{% block content %}
<br>
<br>

<div class="bg-gradient-to-bl from-green-400 to-blue-600 min-h-screen flex justify-center items-center py-20">
    <div class="w-full max-w-4xl bg-gray-800 rounded-lg shadow-lg p-12 mx-auto">
        <h1 class="text-5xl text-white font-bold text-center mb-12">Detail Lengkap Lagu</h1>
        <div class="flex flex-col md:flex-row md:space-x-12 text-white">
            <div class="md:w-1/2">
                <p class="mb-4"><strong>Judul:</strong> {{ song_title }}</p>
                <p class="mb-4"><strong>Genre:</strong> 
                    {% for genre in genres %}
                        {{ genre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="mb-4"><strong>Artis:</strong> {{ artist }}</p>
                <p class="mb-4"><strong>Penulis Lagu:</strong> 
                    {% for songwriter in songwriters %}
                        {{ songwriter }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="md:w-1/2">
                <p class="mb-4"><strong>Durasi:</strong> {{ duration }}</p>
                <p class="mb-4"><strong>Tanggal Rilis:</strong> {{ release_date }}</p>
                <p class="mb-4"><strong>Tahun:</strong> {{ year }}</p>
                <p class="mb-4"><strong>Total Putar:</strong> {{ total_plays }}</p>
                <p class="mb-4"><strong>Total Unduhan:</strong> {{ total_downloads }}</p>
                <p class="mb-4"><strong>Album:</strong> {{ album_title }}</p>
            </div>
        </div>
        <div class="mt-10">
            <label for="progressSlider" class="block text-white mb-4">Kemajuan Lagu:</label>
            <input type="range" id="progressSlider" name="songProgress" min="0" max="100" value="0" class="w-full mb-2" onchange="updateSliderValue(this.value)">
            <span id="sliderValue" class="block text-center text-white text-lg">0%</span>
        </div>
        <form method="POST" class="mt-6">
            {% csrf_token %}
            <div class="flex flex-col md:flex-row md:space-x-4 justify-center">
                <a href="{% url 'play_song:add_song_to_user_playlist' id_konten=id_konten %}" class="border-2 border-yellow-400 text-yellow-400 rounded-lg py-2 px-6 hover:bg-yellow-400 hover:text-gray-900 transition duration-200 mb-4 md:mb-0">Tambahkan ke Playlist</a>
                {% if is_premium %}
                    <button type="submit" formaction="{% url 'play_song:download_song' id_konten=id_konten %}" class="border-2 border-yellow-400 text-yellow-400 rounded-lg py-2 px-6 hover:bg-yellow-400 hover:text-gray-900 transition duration-200 mb-4 md:mb-0">Unduh Lagu</button>
                {% endif %}
                <a href="{% url 'dashboard' %}" class="border-2 border-yellow-400 text-yellow-400 rounded-lg py-2 px-6 hover:bg-yellow-400 hover:text-gray-900 transition duration-200">Kembali ke Dashboard</a>
            </div>
        </form>
    </div>
</div>

<script>
    function updateSliderValue(value) {
        document.getElementById('sliderValue').innerText = value + '%';
    }
</script>
{% endblock content %}
