{% extends 'base.html' %}

{% block title %}Cek Royalti{% endblock %}

{% block css %}
<style>
    .tableFixHead {
        overflow: auto;
        height: 500px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }
</style>
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-1 p-md-3 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-12 p-lg-2 mx-auto my-5">
        <h1 class="display-4 fw-bold">List Royalti</h1>
    </div>
</div>

<div class="container">
    <div class="py-4">
        <div class="tableFixHead">
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>Judul Lagu</th>
                        <th>Judul Album</th>
                        <th>Total Play</th>
                        <th>Total Download</th>
                        <th>Total Royalti Didapat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for judul, album, total_play, total_download, jumlah in royalties %}
                    <tr class="text-center">
                        <td>{{ judul }}</td> 
                        <td>{{ album }}</td> 
                        <td>{{ total_play }}</td> 
                        <td>{{ total_download }}</td> 
                        <td>{{ jumlah }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No royalties found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}